variables:
  IMAGE_TAG: ${CI_COMMIT_TAG}
  IMAGE_OUTPUT_TYPE: registry
  # IMAGE_REPOSITORY está definida nas variáveis de CI/CD no GitLab

stages:
- build

build:
  stage: build
  only:
  - tags
  script:
  - docker buildx bake
